.navLink{
    color: rgba(0,0,0,.5);
    padding: .5rem 1rem;
    display: block;
    &:hover{
        color: rgba(0,0,0,0.9);
        text-decoration: none;
    }
}

.navBrand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #000;
    &:hover{
        color: #000;    
        text-decoration: none;
    }
}